@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif, arial, helvetica, sans-serif;
}

.menu_geral{
   width: 100%;
   display: flex;
}

.menu_grup {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.menu1{
	background: rgb(0, 102, 204);
    color: #fff;
    width: 163px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fff;
    border-left-style: solid;
}

.menu1 a{
    color: #fff;
}
.menu2{
	background-color: #000;
    box-shadow: 0 3px 6px #00000029;
    opacity: .5;
    color: #fff;
    width: 163px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fff;
    border-left-style: solid;
}

.menu2 a{
    color: #fff;
}

.menu3{
	background-color: #622379;
    box-shadow: 0 3px 6px #00000029;
    opacity: .5;
    color: #fff;
    width: 163px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fff;
    border-left-style: solid;
}

.menu3 a{
    color: #fff;
}

.menu4{
	background-color: #2d7923;
    box-shadow: 0 3px 6px #00000029;
    opacity: .5;
    color: #fff;
    width: 163px;
    height: 35px;
    border-radius: 10px 10px 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #fff;
    border-left-style: solid;
}

.menu4 a{
    color: #fff;
}

a, a:focus, a:hover {
    text-decoration: none;
}

.a{
    background-color: transparent;
}   

.sub_menu{
    display: flex;
    background-color: rgb(0, 168, 230);
    width: 100%;
    padding: .2rem;
}

.logo_menu_div{
    display: flex;
    border: 0px solid rgb(255, 255, 255);
	border-radius: 8px;
    margin-left: 100px;
}

.logo_menu{
	width: 350px;
	margin:auto;
}

.portal_cliente_div{
    display: flex;
    border: 0px solid rgb(255, 255, 255);
	border-radius: 8px;
    margin:auto;
    margin-right: 100px;
}

.portal_cliente_div a{
    font-size: 10pt;
    color: #FFF;
	display: inline-block;
	text-decoration: none;
	transition: background .4s;
    margin:auto;
}

.fig_login{
    width: 20px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 10px;
}

/* css do menu */

.reserva{
    display:flex;
    width: 100%;
    background-color: rgb(0, 112, 153);
    padding: 1rem;
}

.consulta_locaçao{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

.div_input{
    margin-left: 20px;
}

.input_consulta{
	width: 400px;
	padding: .4rem;
    border: 1px solid rgb(255, 255, 255);
	border-radius: 8px;
}

.input_datetime{
	width: 200px;
	padding: .4rem;
    border: 1px solid rgb(255, 255, 255);
	border-radius: 8px;
}

.botao{
	color: #FFF;
	width: 125px;
	padding: .8rem;
	margin-top: 1rem;
	margin-left: 20px;
	background: #511c04;
	border: 1px solid blue;
	border-radius: 8px;
	cursor: pointer;
	font-size: 12px;
}

legend{
    font-size: 10pt;
    color: #FFF;
}

/* pesquisa de reserva */


